/* Fix the problem that the sidebarContainer can be too small */

.appContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.mapContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 350px);
  height: 100%;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  height: 100%;
  padding: 5px;

  background-color: #fff;
}
