.sidebar-header {
  font-size: 18px;
  padding: 5px 0;
}

.sidebar-header-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  padding: 5px 0;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  order: 1;
  width: 100%;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  order: 1;
  width: 100%;
}

.sidebar-logo img {
  max-width: 100%;
}

.mobile-goto {
  order: 2;
  display: block;
  text-align: center;
}
.sidebar-login {
  padding: 5px 0;
  order: 2;
  width: 100%;
}

#info-button {
  height: 20px;
  width: 20px;
  padding: 0;
  font-weight: bold;
  border-radius: 50%;
  color: white;
  background-color: #627F9A;
  border-color: #627F9A;
}

.sidebar-login-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar-suggestion {
  padding: 5px 0;
  order: 3;
  width: 100%;
}

.sidebar-admintools {
  order: 4;
  width: 100%;
}

.sidebar-layerselector {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  order: 5;
  flex: 1;
  overflow-y: auto;
}

.layerselector-wrapper {
  overflow-y: auto;
}

.layerSelectorAdmin {
  padding-top: 5px;
  background-color: #fff;
  z-index: 1;
}

.layerSelector {
  padding-top: 5px;
  background-color: #fff;
  z-index: 1;
}

.sidebar-footer-images {
  display: flex;
  flex-direction: column;
  order: 6;
  width: 100%;
  flex: 0 0 110px;
  z-index: 0;
}

#logo_img_eu {
  position: relative;
  width: 260px;
  height: 43px;
  z-index: 0;
}

#logo_img_ely {
  position: relative;
  width: 185px;
  height: 65px;
  z-index: 0;
}
